<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movies.css" %}">
    <title></title>
  </head>
  <body>
    <div class="container" align="center">
      <div class="jumbotron">
        <h1>DURGA MOVIES...</h1>
        <p>up to date movies information</p>
        <a href="/addmovie" class="btn btn-primary" role="button">Add Movie</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
        <a href="/listmovies" class="btn btn-primary" role="button">List Movies</a>
      </div>
    </div>
  </body>
</html>
